/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    /* texto oscuro */

    /* Fondo con imagen */
    background-image: url("../img/fondo-wallet.png");
    background-size: cover;
    /* que cubra toda la pantalla */
    background-position: center;
    /* centrada */
    background-attachment: fixed;
    /* efecto fijo al hacer scroll */
}

/* Encabezados */
h1,
h2,
h3 {
    font-weight: 600;
    color: #0d6efd;

}

/* estilos para Formularios */
form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Botones personalizados */
.btn-primary {
    background-color: #0d6efd;
    border: none;
}

.btn-success {
    background-color: #198754;
    border: none;
}

/* Navbar */
.navbar {
    margin-bottom: 20px;
}

/* Historial de transacciones */
#listaHistorial tr td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

/* Responsividad extra */
@media (max-width: 576px) {
    form {
        padding: 10px;
    }

    h2 {
        font-size: 1.5rem;
    }
}